# Node.js dependences
/node_modules
/Frontend/node_modules
/Backend/node_modules

# Environment variables
.env
/Frontend/.env
/Backend/.env

# IDE / Editor junk
.metals/
.theia/
.vscode/
.idea/

# Vite temp/cache files
*.timestamp-*.mjs
