.home-container.light {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: #ffffff;
    height: 100%;
}

.home-container.dark {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: #212121;
    height: 100%;
}

.home-header-container {
    width: 100%;
    height: 10vh;
}

.main-content-container {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: row;
}

.produce-title-container h1{
    font-size: 20px;
    font-weight: 400;
}